In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("tcs_only_modeling_abt.tsv", sep='\t')

In [3]:
data = df.drop(["tech_obs_id", "app_bank_nm", "tech_dog_type", "trg_utilization", "tech_target_source", "tech_target_d"],
               axis = 1)
data = data.drop(['var_0{}'.format(i) for i in range(63, 73)], axis = 1)
data = data.dropna()
data = pd.get_dummies(data)
data.head()

,uid,trg_pd,trg_grace,var_001,var_002,var_003,var_004,var_005,var_006,var_007,...,var_062_pochta,var_062_renaissance,var_062_rosbank,var_062_sbrf,var_062_tinkoff,var_062_ubrr,var_062_uralsib,var_062_vtb24,var_073_C,var_073_D
0,2610726,0,0,0,1,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1
1,2610519,0,1,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
2,2610399,0,1,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
3,2609761,0,1,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,1,1,0
4,2609487,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0

In [4]:
tf = pd.read_csv('default_grace_scores.csv')
tf.head()

       uid  financial_application_rk  retro_date  logit_default  logit_grace03
0  2485329                  63956177  2015-05-17      -2.131608      -1.340717
1  1294731                  69172173  2015-09-20      -3.568747      -0.287239
2   543638                  61523961  2015-02-27      -2.358281      -1.794685
3  2047248                  73557607  2015-12-08      -3.759207      -0.403351
4  1941661                  67928674  2015-08-26      -2.287232      -0.918777

In [5]:
scores = data.join(tf.set_index('uid'), on='uid')

In [6]:
scores.dropna(inplace=True)
scores.drop(columns=['financial_application_rk', 'retro_date'], inplace=True)
scores.head()

,uid,trg_pd,trg_grace,var_001,var_002,var_003,var_004,var_005,var_006,var_007,...,var_062_rosbank,var_062_sbrf,var_062_tinkoff,var_062_ubrr,var_062_uralsib,var_062_vtb24,var_073_C,var_073_D,logit_default,logit_grace03
0,2610726,0,0,0,1,0,0,1,0,0,...,0,1,0,0,0,0,0,1,-1.845752,-1.060587
1,2610519,0,1,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,1,-2.741847,-0.357696
2,2610399,0,1,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,1,-2.952176,-0.765714
3,2609761,0,1,0,1,0,0,1,0,0,...,0,0,0,0,0,1,1,0,-2.557697,-0.143437
4,2609487,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,-1.985869,-1.514553

In [7]:
logit_pd = scores['logit_default']
logit_gr = scores['logit_grace03']
scores.drop(columns=['logit_default', 'logit_grace03'], inplace=True)

In [8]:
scores.set_index('uid', inplace=True)

In [9]:
scores.head()

,trg_pd,trg_grace,var_001,var_002,var_003,var_004,var_005,var_006,var_007,var_008,...,var_062_pochta,var_062_renaissance,var_062_rosbank,var_062_sbrf,var_062_tinkoff,var_062_ubrr,var_062_uralsib,var_062_vtb24,var_073_C,var_073_D
uid,,,,,,,,,,,,,,,,,,,,,
2610726,0,0,0,1,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
2610519,0,1,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
2610399,0,1,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
2609761,0,1,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,1,0
2609487,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0

In [10]:
y_pd = scores['trg_pd']
y_gr = scores['trg_grace']
scores.drop(columns=['trg_pd', 'trg_grace'], inplace=True)
scores.head()

,var_001,var_002,var_003,var_004,var_005,var_006,var_007,var_008,var_009,var_010,...,var_062_pochta,var_062_renaissance,var_062_rosbank,var_062_sbrf,var_062_tinkoff,var_062_ubrr,var_062_uralsib,var_062_vtb24,var_073_C,var_073_D
uid,,,,,,,,,,,,,,,,,,,,,
2610726,0,1,0,0,1,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
2610519,0,1,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
2610399,0,1,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
2609761,0,1,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
2609487,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0

In [11]:
features = {'be' : ['var_001',
 'var_039',
 'var_046',
 'var_049',
 'var_051',
 'var_078',
 'var_084',
 'var_090',
 'var_091',
 'var_107',
 'var_123',
 'var_133',
 'var_136',
 'var_138',
 'var_175',
 'var_182',
 'var_188',
 'var_189',
 'var_198',
 'var_203',
 'var_220',
 'var_224',
 'var_234',
 'var_242',
 'var_254',
 'var_257',
 'var_286',
 'var_292',
 'var_312',
 'var_338',
 'var_365',
 'var_373',
 'var_378',
 'var_390',
 'var_398',
 'var_405',
 'var_406',
 'var_429',
 'var_440',
 'var_446',
 'var_447',
 'var_461',
 'var_062_orient']}

In [13]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegressionCV

In [14]:
X_train, X_test, y_train, y_test, log_train, log_test = train_test_split(scores, y_pd, logit_pd, test_size=0.2, stratify=y_pd)

In [15]:
scaler = StandardScaler()
X_train = pd.DataFrame(scaler.fit_transform(X_train), columns=X_train.columns)
X_test = pd.DataFrame(scaler.transform(X_test), columns=X_test.columns)

In [16]:
clf = LogisticRegressionCV(cv=5, 
                           random_state=0, 
                           scoring='neg_log_loss', 
                           verbose=1).fit(X_train[features['be']], y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    5.1s finished

In [17]:
logs = clf.predict_log_proba(X_train[features['be']])

In [18]:
import numpy as np

In [19]:
def make_logit(logs):
    return -np.log(logs[..., 1] / logs[..., 0])

In [20]:
logits_train = make_logit(logs)

In [21]:
scores_logs_train = pd.DataFrame({'my_scores' : logits_train, 'tf_scores' : log_train})

In [22]:
scores_logs_train.head()

       my_scores  tf_scores
47339  -3.407879  -3.431948
6909   -3.256029  -1.258847
24821  -4.753573  -2.936167
3081   -3.559865  -1.015480
54850  -3.312164  -1.852172

In [23]:
combined_clf = LogisticRegressionCV(cv=5, 
                           random_state=0, 
                           scoring='neg_log_loss', 
                           verbose=1).fit(scores_logs_train, y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    1.9s finished

In [24]:
logits_test = make_logit(clf.predict_log_proba(X_test[features['be']]))
scores_logs_test = pd.DataFrame({'my_scores' : logits_test, 'tf_scores' : log_test})
scores_logs_test.head()

       my_scores  tf_scores
53053  -4.316607  -2.498754
58203  -3.658708  -2.183876
58984  -5.344849  -3.916536
58428  -3.879689  -2.277619
14171  -3.687581  -2.976609

In [25]:
my_final_loss = combined_clf.score(scores_logs_test, y_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:2257: ChangedBehaviorWarning: The long-standing behavior to use the accuracy score has changed. The scoring parameter is now used. This warning will disappear in version 0.22.
  ChangedBehaviorWarning)

In [26]:
my_final_loss

-0.23870488768683035

In [27]:
probs = np.exp(log_test) / (1 + np.exp(log_test))

In [28]:
tf_final_loss = np.sum( - y_test * np.log(probs) - (1 - y_test) * np.log(1 - probs))

In [29]:
tf_final_loss

14.749641603502912

In [30]:
from sklearn.metrics import roc_auc_score

In [31]:
print(roc_auc_score(y_test, combined_clf.predict_proba(scores_logs_test)[..., 1]))

0.7273889650547865